@import './variables';
@import './mixin';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat:900|Raleway|Raleway:900|Work+Sans:800|Cormorant+Garamond&display=swap');

$serif: 'Cormorant Garamond';
body {
  font-family: 'Montserrat', 'sans-serif';
  background: #222;
  color: $fontColor;
}
section {
  width: 100%;
}
h1,
h2,
h3,
h4 {
  font-weight: 500;
}
nav {
  position: absolute;
  z-index: 10000;
  left: 0;
  top: 0;
  height: 80px;
  width: 100%;
  padding: 0 20px;
  // background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  .logo {
    display: contents;
    img {
      height: 30%;
    }
  }
}
.header {
  background: url(./images/undefinedteam-changmo-meteor-main-banner.jpg)
    no-repeat 0 20%;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .title {
    font-size: 3em;
    font-weight: 600;
    width: 70%;
    text-align: center;
    line-height: 1.3;
  }
}
.container {
  max-width: 400px;
  margin: 40px auto;
  padding: 0 10px;
  text-align: center;
}
.info {
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1.2;
  font-weight: 600;
  .title {
    color: $primaryColor;
    font-weight: inherit;
    font-size: 1.4em;
    line-height: 1;
    &:before,
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      position: relative;
      background: $primaryColor;
    }
  }
  .subtitle {
    color: $subColor;
    font-size: 0.9em;
    font-weight: inherit;

    span {
      letter-spacing: 7px;
    }
  }
}
.miniMap {
  line-height: 0;
  background: #464646;
  padding: 10px;
  margin-top: 5px;
}
.small {
  font-size: 14px;
  color: $subColor;
}
.guestName {
  font-size: 1.5rem;
  background: $subColor;
  font-weight: 600;
  color: #222;
  display: inline-block;
  width: 90%;
  margin-top: 10px;
  // font-weight: 500;
  .logo {
    width: 50%;
  }
}

.detail {
  line-height: 1.7;
  margin-top: 20px;
  span {
    display: block;
  }
  .date {
    padding-top: 5px;
  }
  .location {
    color: $subColor;
    font-size: 1.3em;
    font-weight: 600;
  }
}
.packageLists,
.bottleLists {
  font-weight: 300;
  margin-top: 20px;
  line-height: 1.7;
  .title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5em;
    font-family: $serif;
    color: $subColor;
    &.soldout {
      position: relative;
      &:after {
        content: 'sold out';
        font-family: 'Open Sans';
        position: absolute;
        font-size: 14px;
        color: #c10e0e;
        transform: rotateZ(30deg);
        letter-spacing: -1px;
        line-height: 1;
        text-align: center;
        right: 20%;
        top: 20%;
      }
    }
  }
}

.vipBooth {
  line-height: 1.7;
  h2 {
    font-family: serif;
    font-size: 2em;
    color: $primaryColor;
    position: relative;
    &::before,
    &::after {
      content: '';
      height: 1px;
      width: 100%;
      display: block;
      background: $primaryColor;
      position: relative;
    }
  }
  .moreInfo {
    color: $subColor;
    margin-top: 40px;
    display: inline-block;
    p {
      margin-bottom: 10px;
    }
  }
  .price {
    &:after {
      content: ' (tax & gratuities incl.)';
      // font-size: 0.9em;
    }
  }
}

.menu {
  line-height: 2;
  margin-top: 20px;
  // font-family: $serif;
  // font-size: 1.2em;
}
.lightBackground {
  background: #fff;
  color: #222;
  display: -webkit-box;
}
.footer {
  background: #fff;
  color: #222;
  .container {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    & > * {
      margin-top: 20px;
    }
  }
  .copyright {
    font-size: 14px;
  }
  .logo {
    width: 70%;
    margin: 20px 0;
  }
}
.instagram {
  display: block;
}

.interaction {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0px auto 20px;
}

.btn {
  background: $fontColor;
  color: #222;
  padding: 10px 15px;
  transition: 0.3s;
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  &:hover {
    background: rgba(234, 232, 233, 0.8);
  }
}
.ticket,
.vipBooth {
  margin-top: 90px;
}
.ticket {
  display: flex;
  flex-wrap: wrap;
  // height: 100vh;
  align-items: center;
  .btn {
    background: $primaryColor;
    width: 100%;
    margin-top: 30px;
    font-size: 1.5em;
    padding: 20px 15px;
    text-transform: uppercase;
    // height: calc(100vh / 3);
    &:hover {
      background: $subColor;
    }
  }
}
